@import "tailwindcss";
@import "tw-animate-css";
@source "../**/*.{ts,tsx}";

@plugin '@tailwindcss/typography';

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-oswald: var(--font-oswald);
  --font-manrope: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
  }
}

body {
  @apply bg-background text-foreground;
}
